body {
    background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(images/set.jpg);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
    max-width: 500px;
    margin: auto;
    border: 2px solid #fff;

}

h1 {
    font-size: 20px;
    color: white;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
